{% extends 'plush_app/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}
    Message
    {% endblock %}
</head>
{% block content %}

<body>

    <div class="site-wrap">


        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <span class="icon-check_circle display-3 text-danger"></span>
                        <h2 class="display-3 text-dark">Thank you!</h2>
                        <p class="lead mb-5 text-danger">The item has been removed from your cart</p>
                        <p><a href="{% url 'cart' %}" class="btn btn-sm btn-primary">View Cart</a>
                            <a href="{% url 'shop' %}" class="btn btn-sm btn-success">Back To Shop</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="{% static 'plush_app/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'plush_app/js/jquery-ui.js' %}"></script>
    <script src="{% static 'plush_app/js/popper.min.js' %}"></script>
    <script src="{% static 'plush_app/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plush_app/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'plush_app/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'plush_app/js/aos.js' %}"></script>

    <script src="{% static 'plush_app/js/main.js' %}"></script>

</body>

</html>
{% endblock %}